<br>
<div>
<% @students.each do |student| %>
<strong style="padding:30px">Name: <%= student.name %></strong>
<%#= link_to "Select Question Paper",new_student_path(student), style: 'padding:30px' %>
<%= link_to "Show",student_path(student), style:"margin-left:10px;" %><br>

<% end %>

</div>
<br>
<%= link_to "Create Student",new_student_path,style:"padding-left:30px;" %>

