<br>
<%= link_to "Create Student",new_student_path %>
<% @students.each do |student| %>
<div class="card" style="margin-top:2px;">
  <div class="card-body">
    <h5 class="card-title"><%= student.name %></h5>
    <%= link_to "Show",student_path(student), class:"card-link" %>
    <%= link_to "Summary",answers_path(student_id: student.id), class:"card-link" %>
  </div>
</div>
<% end %>
