<div class="container">
<br>
<%= form_with(model:@student, id: 'studentForm') do |f| %>
  <div class="studentname_input">
     <%= f.label :name,"Name", class:'form-label' %> 
     <%= f.text_field :name, class:'form-control' %>
  </div>
  <br>
  <div>
    <%= f.submit :submit,class:'btn btn-dark' %>
  </div>
  <br>
<% end %>
</div>
<%#= javascript_pack_tag 'formvalidation' %>