<br>
<div class="container">
<strong>Name:</strong> <%= @student.name %><br>
<strong>Assigned paper:</strong> <%= @student.question_paper.name %><br><br>
<%= link_to "Back" ,root_path %>
<%= link_to "Start Quiz ", new_answer_path(student_id: @student.id) %>

</div>
