<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Questions</th>
      <th scope="col">Answer</th>
    </tr>
  </thead>
  <tbody>
   <% @student.question_paper.questions.each do |qa| %>      
    <tr>
      <td><%= qa.title rescue "" %></td>
      <td><%= qa.answer.answer rescue "Not Attempted" %></td>
    </tr>
   <% end %>
  </tbody>
</table>
   
</div>
